<section class="pb-50 bg-white pt-200">
    <div class="container">
        <div class="row  justify-content-between">
            <div class="col-lg-8 col-12">
                <div class="popup-vdo mt-30 mt-md-0">
                    <img src="../../assets/images/map-laptopview.png" class="img-fluid rounded" alt="">
                    <div class="bg-light py-30">
                        <h2 class="text-center fw-light">Members Verified for Your Security</h2>
                        <div class="row text-center justify-content-center">
                            <div class="col-2">
                                <img src="../../assets/images/email-icon.png" alt="Email">
                                <p class="mt-2">Email</p>
                            </div>
                            <div class="col-2">
                                <img src="../../assets/images/mobile-icon.png" alt="Mobile">
                                <p class="mt-2">Mobile</p>
                            </div>
                            <div class="col-2">
                                <img src="../../assets/images/cc-icon.png" alt="Email">
                                <p class="mt-2">Credit Card</p>
                            </div>
                            <div class="col-2">
                                <img src="../../assets/images/dl-icon.png" alt="Email">
                                <p class="mt-2">Drivers License</p>
                            </div>
                            <div class="col-2">
                                <img src="../../assets/images/bl-icon.png" alt="Email">
                                <p class="mt-2">Business License</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="box box-body mb-0 p-0 border-0">
                    <ul class="nav nav-tabs nav-fill border-0" role="tablist">
                        <li class="nav-item"> <a class="nav-link active py-10 m-0 rounded-0 border border-0" data-bs-toggle="tab" routerLink="/login" role="tab">Login</a> </li>
                        <li class="nav-item"> <a class="nav-link py-10 m-0 rounded-0 border border-0" data-bs-toggle="tab" routerLink="/register" role="tab">Register</a> </li>
                    </ul>
                </div>
                <div class="box box-body mb-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="login" role="tabpanel">
                            <div>				
                                <div class="content-top-agile pb-0 pt-20">
                                    <h2 class="text-primary">Let's Get Started</h2>
                                    <p class="mb-0">Sign in to continue to Anytimejobs.</p>							
                                </div>
                                <div class="p-15">
                                    <form action="index.php" method="post">
                                        <div class="form-group">
                                            <div class="input-group mb-15">
                                                <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                                <input type="text" class="form-control ps-15 bg-transparent" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-15">
                                                <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                                <input type="password" class="form-control ps-15 bg-transparent" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                            <div class="checkbox ms-5">
                                                <input type="checkbox" id="basic_checkbox_1">
                                                <label for="basic_checkbox_1" class="form-label">Remember Me</label>
                                            </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-6">
                                            <div class="fog-pwd text-end">
                                                <a href="javascript:void(0)" class="hover-warning"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
                                            </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary w-p100 mt-15">SIGN IN</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </form>	
                                    <div class="text-center">
                                        <p class="m-20">- OR -</p>
                                        <p class="my-10 justify-content-center">
                                            <a class="btn btn-social-icon btn-outline w-p100 btn-facebook" href="#"><i class="fab fa-facebook-f float-start my-5"></i> Continue With Facebook</a>
                                        </p>
                                        <p class="my-10 justify-content-center">
                                            <a class="btn btn-social-icon btn-outline w-p100 btn-google" href="#"><i class="fab fa-google float-start my-5"></i> Continue With Google</a>
                                        </p>
                                        <p class="my-10 justify-content-center">
                                            <a class="btn btn-social-icon btn-outline w-p100 btn-apple" href="#"><i class="fab fa-apple float-start my-5"></i> Continue With Apple</a>
                                        </p>
                                    </div>	
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white ps-30 pe-30">
    <div class="container-fluid">
        <div class="row justify-content-end">
        </div>
    </div>
</section>

