<app-header></app-header>

<section class="pb-50 bg-white pt-160 ps-10 pe-10">
  <div class="container-fluid">

    <div class="row justify-content-end">
      <div class="col-12">
        <div class="row justify-content-end">
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/1.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Assemble a Table/Desk</h6>
                    <p>$50</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Chantilly, VA</p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/2.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Mount a TV or Mirror</h6>
                    <p>$70</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Sterling, VA</p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/3.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Move Boxes via Truck</h6>
                    <p>$50</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Alexandria, VA</p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/7.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Lift Furniture Upstairs</h6>
                    <p>$55</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Santee, CA</p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/4.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Fix a Running Toilet</h6>
                    <p>$80</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Miami, FL</p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12">
            <div class="card text-left">
              <a href="#">
                <img src="../../assets/images/services/5.jpg" class="img-fluid" alt="">
                <div class="card-body">
                  <div class="mb-15">
                    <h6 class="card-title mb-0">Office/Home Delivery</h6>
                    <p>$30</p>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> Rockville, MD</p>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>

